body {
    font-family: Arial, sans-serif;
    background-color: #17224d;
}

.titulo{
    color: #fff; 
    padding: 2vh; /* Adiciona um espaçamento interno para não colar no canto */
    position: relative;
    display: flex;
    justify-content:right;
    right: 15vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#manual {
    background-color:  #2b386d;
    border-radius: 4vh;
    width: 90vh;
    height: 83vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin-top: 3vh;
    text-align: center;
    margin-left: 9vh;
}

#manual ol{
    color:#ffffff;
    margin-bottom: 6vh;
   
}

#manual p{
    color:#ffffff;
    text-align: justify;
    margin-left: 10vh;
    margin-right: 4vh;
}

#manual li{
    color:#ffffff;
    text-align: justify;
    margin-right: 4vh;
    font-size: small;
}

#subtitulo{
    color:#f68046;
    margin-left: 10vh;
    margin-top: -5vh;
   
}
 #manual h5{
    color:#ffffff;
    text-align: left;
    font-size: small;
}

#areas_container {
    background-color: #f68046;
    border-radius: 4vh;
    width: 74vh;
    height: 74vh;
    position: relative; /* Mantém relative para permitir posicionamento absoluto do filho */
    left: 63vh;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0f1944;
    margin: -75vh auto;
    margin-top: -85vh;
}


nav{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Empurra o texto para baixo */
    height: 47vh; /* Defina uma altura para a div */
    right: -6vh;
    margin-top: -5vh;
    text-align: left;
    font-family:Sans-serif;
    
}

p{
    color: #17224d; 
    padding: 2vh; /* Adiciona um espaçamento interno para não colar no canto */
    position: relative;
    display: flex;
    justify-content:right;
    right: 11vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#tituloh2{
    top:10vh;
}


button {
    background-color: #fff;
    color: rgb(21, 25, 90);
    border: none;
    border-radius: 4vh;
    width: 50vh;
    height: 10vh;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 4vh; /* Aumentei o espaçamento para 5vh (ajuste conforme necessário) */
}


button:hover {

    background-color: #ff6600ad;
}


h5 {
    color: #ccc;
    text-align: center;
    position: relative; /* Permite ajustar a posição */
    width: 280px; /* Mesma largura do container */
    margin-top: 10px; /* Espaço entre o container e o h5 */
    font-size: medium;
}


/*AREAS ALUNOS E BIBLIOTECARIO*/



.login-estudante {

    background-color: #f68046;
    padding: 20vh;
    margin: 140vh auto;
    width: 110vh;
    border-radius: 8vh;
    height: 50vh;
    box-shadow: 0 0 10vh rgba(0, 0, 0, 0.1);
   
}


h3{
    font-size: 5vh;
    color:#0f1944;
    text-align: center;
    margin-top: -14vh;
    

}


h4{
    color:#0f1944;
    text-align: center;
    margin-top: -4vh;
}


input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 650px;
    height: 45px;
    margin-top: 5vh;
}


select{
    padding: 8px;
    margin: 15px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 94vh;
    height: 9vh;
    justify-content: center;
}


.login-biblioteca {

    background-color: #f68046;
    padding: 20vh;
    margin: 140vh auto;
    width: 100vh;
    border-radius: 7vh;
    height: 50vh;
    box-shadow: 0 0 10vh rgba(0, 0, 0, 0.1);
}

.login-cadastrar {

    background-color: #f68046;
    padding: 20vh;
    margin: 140vh auto;
    width: 100vh;
    border-radius: 7vh;
    height: 50vh;
    box-shadow: 0 0 10vh rgba(0, 0, 0, 0.1);
}